<br>
<br>

<div class="container">

    <div class="jumbotron">
        <h1 class="mainTitle">
            <i class='fas fa-moon' style='font-size:44px; color:#141a4f;'><i class='glyphicon glyphicon-book' style='font-size:48px; color:#141a4f;'></i></i>
            Night Owl Booklist</h1>
        <h2>Make a booklist, read through it.</h2>
        <br>
        <h3>Add a book:</h3>
        <panel>
            <form class="create-form" action="/api/books" method="POST">
                <div class="form-group">
                    <label for="newTitle">New Title:</label>
                    <input type="text" id="newTitle" name="newTitle">
                    <label for="newWriter" id="writerLabel">Author:</label>
                    <input type="text" id="newWriter" name="newWriter">
                    <button type="submit" class="btn btn-success" id="addBook"><span class="fa fa-thumbs-up"></span></button>
                </div>
            </form>
        </panel>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="lefthead"><strong>Unread Books</strong></div>
                <div class="panel-body">
                    <ul id="unreadBooks">
                        {{#each booksData}}
                        {{#unless this.have_read}}
                        <li>
                        <span> {{this.book_name}} </span>
                        <span> By: {{this.author}} </span>
                        <button type="button" class="btn readButton" data-id="{{this.id}}"
                            data-newRead="{{have_read}}"><span class="fa fa-book"></span></button>
                        <hr>
                        </li>
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="righthead"><strong>Read Books</strong></div>
                <div class="panel-body">
                    <ul id="readBooks">
                        {{#each booksData}}
                        {{#if this.have_read}}
                        <li>
                        <span> {{this.book_name}} </span>
                        <span> By: {{this.author}} </span>
                        <button type="button" class="btn btn-danger trashButton" data-id="{{this.id}}"
                            data-newRead="{{have_read}}"><span class="fa fa-trash"></span></button>
                        <hr>
                        </li>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>